@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

/******** fonts ********/ 
.wrapper {
    display: grid;
    grid-template-columns: minmax(230px, 1fr);
    grid-gap:20px;
    padding:20px;
}

.logo{
    font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size :xx-large;
  
}
.header{
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #13120f;
    background-color:#c40101;
    box-shadow: 0px 0px 14px 0px rgb(0,0,0,0.75);
    border-radius: 5px;
}
#hero{
    background-image: url(images/josh-harrison-jY_fTS7ZE98-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height:500px;
    background-position-y: center;
    background-position-x: center;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero h2{
    color:rgb(200, 0, 0);
    text-align: center;

button{
    padding:200px;
}
}
.hero-title {
    font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: larger;
}


.two h2,
.two p {
    font-family: "Henny Penny", system-ui;
  font-size:large

}

.block_one {
    display:flex;

}
.two{
    padding:10%
}
.four p {
    color:#bf3100;
    font-family: "Flavors", serif;
  font-weight: 400;
  font-style: normal;
  font-size:x-large;
  
}
.five p{
    color:#13120F;
    font-family: "Jolly Lodger", serif;
  font-weight: 400;
  font-style: normal;
  font-size:xx-large;
  background-color: #2a4454aa;
  padding: 1%;
  
}
.seven p{
    color:#2a4454;
    font-family: "Nosifer", serif;
    font-weight: 400;
    font-style: normal;
    font-size:large;
    padding: 1%;
}
/*------ Responsive images ------*/

img {
    width:100%;
}
/*------ end Responsive images ------*/
/*=====================================
        CSS GRID RULES
=====================================*/



/* tablet media query****************/
@media screen and (min-width: 764px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, minmax(230px, 1fr));
        grid-gap:20px;
        padding:20px;
    }
}

/* desktop media query****************/
@media screen and (min-width: 1280px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, minmax(230px, 1fr));
        grid-gap:20px;
        padding:20px;
    }
}
/*------ End Large display media query ------*/


